{% extends 'base.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body %}

{%for utilisateur in utilisateurs%}
<div>
    
    <p> Nom: {{utilisateur.nom|capitalize}}  Prenom: {{utilisateur.prenom}} </p>

    {% for articles in utilisateur.articles %}
    <h2> Titre: {{articles.titre}}</h2>
    <h2> Année de parrution: {{articles.annee | date('d/m/Y')}}</h2>
    <h2 class="description"> Description: {{articles.description}}</h2>
    <p><a href="{{articles.lien}}">pour visualiser le code</a></p>

{% endfor %}
</div>
{% endfor %}
{% endblock %}
